@using B03.EE.BlanckeK.Lib.Models
@model Quiz

<script src="~/lib/vuejs/vue.js"></script>

<article id="app" class="card">
    <div class="card-header text-center">you are editing '@Model.QuizName'</div>
    <br />
    <div class="card-body" style="margin-bottom: 0%">
        <div class="form-group">
            <label class="col-sm-2">QuizName</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" v-model="currentQuiz.quizName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Questions</label>
            <div class="col-sm-12" v-for="question in currentQuiz.questions" :key="question.questionText">
                <input type="text" class="form-control" v-model="question.questionText">
                <label class="col-sm-2">Answers</label>
                <div class="col-sm-12" v-for="answer in question.answerList" :key="answer.answerText">
                    <input type="text" class="form-control" v-model="answer.answerText">
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <button v-on:click="save" class="btn btn-success">Save</button>
        <a asp-controller="Quiz" asp-action="Index" class="btn btn-primary">Back to list</a>
    </div>
</article>





<script>

    var getDetailApiUrl = "https://localhost:44342/api/Quiz/@Model.Id";
    var app = new Vue({

            el: '#app',
            data: {
                message: 'Editing Quiz ... ',
                quizzes: null,
                currentQuiz: [],
                isReadOnly: true,
                isEdit: true
            },
            created: function() {
                var self = this;
                self.fetchQuizDetails();
                
                //todo go back to overview or somthing
            },
            methods: {
                save: function ()
                {
                    var self = this;
                    var ApiUrl = "https://localhost:44342/api/";

                    // opslaan - ajax configuratie
                    var ajaxHeaders = new Headers();
                    ajaxHeaders.append("Content-Type", "application/json");
                    var ajaxConfig = {
                        method: 'PUT',
                        body: JSON.stringify(self.currentQuiz),
                        headers: ajaxHeaders
                    };
                    let myRequest = new Request(`${ApiUrl}Quiz/${self.currentQuiz.id}`, ajaxConfig);
                    fetch(myRequest)
                        .then(res => res.json())
                        .catch(err => console.error('Fout: fetch(myrequest) ' + err));
                },
                fetchQuizDetails: function () {
                    var self = this;
                    if (!self.isReadOnly) return;
                    fetch(getDetailApiUrl)
                        .then(res => res.json())
                        .then(function (res) {
                            self.currentQuiz = res;
                        })
                        .catch(err => console.error('Fout: FecthQuizDetails ' + err));
                } 
            }
        }
    );
    Vue.config.devtools = true;
</script>