@using B03.EE.BlanckeK.Lib.Models

@model Question

<h1>Question details</h1>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <h1>@Model.QuestionText</h1>
            @foreach (var answer in Model.AnswerList)
            {
                <li class="list-group-item">
                    <a asp-controller="Answers" asp-action="Details" asp-route-id="@answer.Id">@answer.AnswerText</a>
                    <p>@answer.IsCorrectAnswer</p>
                </li>
            }
        </ul>
    </div>
</div>